{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<h1 style="text-align: center">ANÁLISIS DE INFORMACIÓN SOBRE BIG DATA</h1>
<br>
<div class="container" style="text-align: center">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <br>
        <br>
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ url_for('static', filename='img/francisco.jpg') }}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></img>
        <h2 class="fw-normal"> @fj.correa10</h2>
        <p>Francisco Jose Correa Rozo</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <br>
        <br>
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ url_for('static', filename='img/juan.jpg') }}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></img>
        <h2 class="fw-normal">@jc.munozc12</h2>
        <p>Juan Camilo Muñoz Castelblanco</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <br>
        <br>
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ url_for('static', filename='img/alejandro.jpg') }}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></img>
        <h2 class="fw-normal">@ja.gomez1003</h2>
        <p>Javier Alejandro Gómez Muñoz</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


   

  </div>

{% endblock %}