{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<body style="background: rgb(136, 202, 249);">
    <div class = 'login'>
        <h1>Calculadora Básica</h1>
        <br>

        <!-- Input principal calculadora-->

        <form action = "{{ url_for('calc.predict')}}"method="post">
            <input type = "text" name = "a" placeholder="Ingrese el primer número" required = "required" />
            <input type = "text" name = "b" placeholder="Ingrese el segundo número" required = "required" />
            <input type = "text" name = "operation" placeholder="suma, resta, mult, o div" required = "required" />
            <br>
            <br>
            <button type = "submit" class = "btn btn-primary btn-block btn-large">Calcular</button>
            </form>

            <br>
            <br>
            {{ prediction_text }}

    </div>
    </body>
{% endblock %}



    